$text-color: #000;
$text-color-dark: #ede8ff;

$main-bg-color: #e0daff;
$main-bg-color-dark: #1a1523;

$second-bg-color: #beb1d8;
$second-bg-color-dark: #0b090f;

$link-color: rgb(96, 96, 255);
$link-hover-color: #aaf;
$link-visited-color: #6933ff;
$link-hover-visited-color: #a382ff;
