$text-color: #000;
$text-color-dark: #ede8ff;

$main-bg-color: #e0daff;
$main-bg-color-dark: #1a1523;

$second-bg-color: #beb1d8;
$second-bg-color-dark: #0b090f;

$link-color: $text-color;
$link-color-dark: $text-color-dark;

$link-hover-color: #9a92e2;

$link-visited-color: #b29bdd;
