@import "colors.scss";
@import "mixins.scss";
@import "globals.scss";

.bg-card {
	background-color: $second-bg-color;

	min-height: 100vh;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	.card {
		color: $text-color;
		background-color: $main-bg-color;

		border-radius: 2em;

		max-width: 768px;

		.card-content {
			padding: 2em;
		}
	}
}

@media (prefers-color-scheme: dark) {
	.bg-card {
		background-color: $second-bg-color-dark;

		.card {
			color: $text-color-dark;
			background-color: $main-bg-color-dark;
		}
	}
}
