@import "colors.scss";
@import "mixins.scss";

nav {
	display: flex;
	position: sticky;
	top: 0;
	justify-content: center;
	width: 100%;

	background-color: $navbar-bg-color;
	backdrop-filter: blur(2px);

	ul {
		margin-left: 0.5rem;
		margin-right: 0.5rem;

		margin: 0.5rem;
	}

	li {
		display: inline-block;
		margin: 0.5rem;
	}

	a {
		text-decoration: none;

		&:visited {
			color: $link-color;

			&:hover {
				color: $link-hover-color;
			}
		}
	}
}

@media (prefers-color-scheme: dark) {
	nav {
		background-color: $navbar-bg-color-dark;

		a {
			&:visited {
				color: $link-color-dark;

				&:hover {
					color: $link-hover-color;
				}
			}
		}
	}
}
