@import "colors.scss";
@import "mixins.scss";
@import "globals.scss";

.bg-card {
	background-color: $second-bg-color;

	min-height: 100vh;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	.card {
		color: $text-color;
		background-color: $main-bg-color;

		max-width: 768px;

		.card-content {
			padding: 2em;
		}
	}
}

.home-link {
	color: $text-color;

	&:hover {
		color: $link-hover-color;
	}

	&:visited {
		color: $text-color;

		&:hover {
			color: $link-hover-color;
		}
	}
}

@media (prefers-color-scheme: dark) {
	.bg-card {
		background-color: $second-bg-color-dark;

		.card {
			color: $text-color-dark;
			background-color: $main-bg-color-dark;
		}
	}

	.home-link {
		color: $text-color-dark;
	
		&:hover {
			color: $link-hover-color;
		}
	
		&:visited {
			color: $text-color-dark;
	
			&:hover {
				color: $link-hover-color;
			}
		}
	}
}
